body {
	margin-top: 75px;
	margin-bottom: 75px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	background-image: url("../assets/castle.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#titleImage{
	
	height:auto;
	width:auto;

	background-position:center center;
	background-repeat:no-repeat;
	background-clip:content-box;
background-image: url("../assets/unicorns.jpg");

}


label{
	color: black;
	font-size: 30px;
	
}

h1 {
	font-family: cursive;
	font-size: 55px;
	
}

h3 {
	
	font-size: 15px;
	
}

form {
	color: black;
}


.gifs {
	
	float: left;
}



.gif {
	
	cursor: pointer;
}



button {
	cursor: pointer;
	margin: 5px;
	font-family: fantasy;
	color: black;
}


/* border */
#top,
#bottom,
#left,
#right {
	
	position: fixed;
}

#left,
#right {
	top: 0; bottom: 0;
	width: 15px;
}
	#left { left: 0; }
	#right { right: 0; }

#top,
#bottom {
	left: 0; right: 0;
	height: 15px;
}
	#top { top: 0; }
	#bottom { bottom: 0; }
